h1 {
  color: red;
}

/* test resolve same image in other issuer with different path */
.img-file-style {
  border: 2px solid lime;
  width: 160px;
  height: 130px;
  background-image: url("Images/image.png");
}