mixin code
  pre.language-: code
    block

doctype html
html
  head
    link(rel='stylesheet' href=require('./styles.scss'))
    script(src=require('./main.js'))
  body
    include ./header
    //- Manual simulate errors:
    //-div= undefined.variable
    //-img(src=require('NoFound/image.jpeg2'))
    //-
      // alias `@data` from tsconfig
      var cat = 'cat-1';
      var colors = require(`@data/${cat}/color.js`)

    .content
      h2 Watch of dependencies, other page
      +code: :highlight(pug)
        p Pug code
      +code: include:highlight(pug) deps/file.pug
      +code: include:highlight(js) deps/file.js
      +code: include:highlight(js) deps/file.mjs
      +code: include:highlight(js) deps/file.jsx
      +code: include:highlight(js) deps/file.ts
      +code: include:highlight(js) deps/file.tsx
      +code: include:highlight(js) deps/file.json
      //- watch files added via the `watchFiles` option
      +code: include:highlight(js) deps/main.c
      +code: include:highlight(css) deps/file.css
      +code: include:highlight(scss) deps/file.scss
      +code: include:highlight(scss) styles.scss

      .markdown-body
        include:markdown deps/markdown.md
