<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
</head>
<body>
{% include '@partials/header.twig' %}

<div id="content">
    {% block content %}{% endblock %}
</div>

<div id="footer">
    {% block footer %}footer{% endblock %}
</div>
</body>
</html>
