body {
  font-family: sans-serif;
}

h1 {
  color: orangered;
  font-size: 31px;
}

.bg-image {
  width: 100px;
  height: 89px;

  // use relative path or webpack alias to source file
  background-image: url('../images/react.svg');
  background-size: cover;
}
