<html>
<head>
  <title>{{ title }}</title>
</head>
<body>
  <h1>{{ headline }}</h1>
  <ul class="people">
    {{#each people}}
    <li>{{this}}</li>
    {{/each}}
  </ul>
  <img src="apple.png" alt="apple" />
  {{{ include '/src/footer.html' }}}
</body>
</html>
