.image {
  color: indianred;
  width: 160px;
  height: 130px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('~Images/image.png'); // test same file with same query in both Pug and SCSS
}
