.image2 {
  color: limegreen;
  width: 160px;
  height: 130px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('/assets/images/image2.png'); // test root path in context
}
