.icon-imac {
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('@images/icons/imac.svg');
}

.icon-imac-base64 {
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('@images/icons/imac.svg?in-css&inline=base64&embed');
}
