// size < 1K, data-URL
.data-url-svg {
  background: url('~Images/icons/imac.svg');
  width: 100px;
  height: 100px;
  border: 1px solid chocolate;
}

// size < 1K, data-URL
.data-url-png {
  background: url('~Images/icons/iphone.png');
  width: 100px;
  height: 100px;
  border: 1px solid chocolate;
}

// size > 1K, file
.file-svg {
  background: url('~Images/bild.svg');
}

// size > 1K, file
.file-png {
  background: url('~Images/bild.png');
}

@font-face {
  font-family: 'OpenSans';
  src:
    url('~Fonts/OpenSans/open-sans-regular.svg') format('svg'),
    url('~Fonts/OpenSans/open-sans-regular.woff2') format('woff2');
  font-style: normal;
}

@font-face {
  font-family: 'GlyphIcons';
  src:
    url('~Fonts/icons/GlyphIcons/glyphicons-halflings-regular.svg') format('svg'),
    url('~Fonts/icons/GlyphIcons/glyphicons-halflings-regular.woff2') format('woff2');
  font-style: normal;
}
