html
  head
    block style
      link(rel='stylesheet' href=require('../pages/home/styles.css'))

    block head
      script(src=require('../../assets/scripts/vendor.js'))
      script(src=require('Scripts/common.js'))

  body
    block content

    img(src=require('Images/image.png'))

    block script
