<html>
  <head>
    <link href="../../styles/style.css" rel="stylesheet">
    <link href="./style.css" rel="stylesheet">
    <script src="./main.js"></script>
  </head>
  <body>
    <h1>Home</h1>

    <!-- test asset inline -->
    <img src="../../images/imac.svg" class="inline">
    <img src="../../images/iphone.png" class="inline">

    <!-- test asset resource -->
    <img src="../../images/image.png" class="file">

    <!-- test responsive loader -->
    <img src="../../images/image.webp" class="file">
  </body>
</html>