<!DOCTYPE html>
<html>
  <head>
    <link href="../../styles/style.css" rel="stylesheet">
    <link href="../../styles/inlined.css?inline" rel="stylesheet">
    <link href="./style.css" rel="stylesheet">
    <script src="./home.js" defer="defer"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>Teaser</h2>
    <!-- test inlined style with background image file -->
    <div class="header-bg"></div>
    <!-- test inlined style with inlined background images: svg, png -->
    <div class="imac"></div>
    <div class="iphone"></div>
    <div class="plum"></div>

    <!-- test asset resource -->
    <img src="@images/2k-over/bild.svg" alt="bild >2k SVG">
    <img src="@images/apple.png" alt="apple PNG file">

    <!-- test responsive loader -->
    <img src="@images/image.webp" alt="WEBP file">

    <!-- test asset inline -->
    <img src="@images/icons/imac.svg" alt="imac inline SVG">
    <img src="@images/icons/iphone.png" alt="iphone inline PNG">
    <img src="@images/home.svg" alt="home inline SVG">

    <div class="home-bg"></div>
    <div class="home-bg-inlined"></div>
  </body>
</html>