<!DOCTYPE html>
<html>
<head>
  <!-- test for auto publicPath when used same asset from different paths -->
  <link href="@styles/common.scss" rel="stylesheet">
  <link href="./style.scss" rel="stylesheet">
  <!-- test to resolve script filename w/o the extension `.js` -->
  <script src="@scripts/common.min"></script>
  <script src="./home.js"></script>
</head>
<body>
  <h1>Home</h1>
  <div class="common">common</div>
  <div class="home">home</div>
  <img src="@images/apple.png">
</body>
</html>