<!DOCTYPE html>
<html>
<head>
  <title>{{ title }}</title>
  <!-- reference to source image -->
  <link href="@images/favicon.png" rel="shortcut icon" type="image/png">

  <!-- common used source styles and scripts -->
  <link href="@styles/styles.scss" rel="stylesheet">
  <script src="@scripts/main.js" defer="defer"></script>

  <!-- blocks for page-specific styles and scripts -->
  {{#block 'styles'}}{{/block}}
  {{#block 'scripts'}}{{/block}}
</head>
<body>
  {{> header }}

  <nav class="nav">
    [<a href="index.html">Home</a>]
    [<a href="about.html">About</a>]
  </nav>

  <div class="container">
    <!-- output content block defined in a parent template -->
    {{#block 'content'}}{{/block}}
  </div>

  <!-- if the block is not defined in a parent template, then output default content -->
  {{#block 'custom_block'}}<p class="custom">default block content</p>{{/block}}

  {{> footer }}
</body>
</html>
