<!DOCTYPE html>
<html>
  <head>
    <title>About</title>
    <link href="@images/favicons/favicon.svg" rel="icon" type='image/svg+xml' sizes='any' />
    <link href="@images/favicons/favicon.png" rel="icon" type='image/png' sizes='32x32' />
    <link href="../assets/styles/style.scss" rel="stylesheet" />
  </head>
  <body>
    <h1>About</h1>

    <!-- caching test of the same resources used in another file. -->

    <!-- size < 2K, data-URL -->
    <img src="@images/icons/iphone.png" class="inline">

    <!-- size < 2K, inline SVG -->
    <img src="@images/icons/imac.svg" class="inline about" alt="imac on about">

    <!-- size > 2K, file -->
    <img src="@images/2k-over/bild.png" class="file">

    <!-- size > 2K, file -->
    <img src="@images/2k-over/bild.svg" class="file">
  </body>
</html>