<!DOCTYPE html>
<html>
  <head>
    <title>Test</title>
    <link href="@images/favicons/favicon.svg" rel="icon" type='image/svg+xml' sizes='any' />
    <link href="@images/favicons/favicon.png" rel="icon" type='image/png' sizes='32x32' />
    <link href="../assets/styles/style.scss" rel="stylesheet" />
  </head>
  <body>
    <h1>Home</h1>

    <!-- caching test of the same resources used in another file. -->

    <!-- size < 2K, data-URL -->
    <img src="@images/icons/iphone.png" alt="inline">

    <!-- size < 2K, inline SVG -->
    <img src="@images/icons/imac.svg" alt="inline">

    <!-- size > 2K, file -->
    <img src="@images/2k-over/bild.png" alt="file">
    <img src="@images/2k-over/bild.svg" alt="file">

    <div class="data-url-svg"></div>
    <div class="data-url-png"></div>
    <div class="file-svg"></div>
    <div class="file-png"></div>
  </body>
</html>