doctype html
html(lang="en")
  head
    script(async src='https://www.googletagmanager.com/gtag/js?id=AW-xxxxxxxxx')
    script: :minify
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'AW-xxxxxxxxx');

  body
    h1 Hello World!