<!DOCTYPE html>
<html>
<head>
  <title>About</title>
  <link href="../images/favicon.ico" rel="shortcut icon">
  <link href="../sass/about.scss" rel="stylesheet">
  <script src="../js/main.js" defer="defer"></script>
</head>
<body class="bg-sky-50 flex justify-center">
  <div class="w-full">
     <p class="ms-4 mt-2 mb-4 text-xl leading-relaxed"><a href="/"><- Home page</a></p>
      <div class="relative py-20">
         <div class="container mx-auto px-4">
            <div class="mb-12 flex flex-wrap -mx-4 justify-start">
               <div class="px-4 relative w-full lg:w-8/12 text-left">
                  <span class="text-purple-500 bg-purple-200 text-xs font-bold inline-block py-1 uppercase uppercase last:mr-0 mr-1 leading-tight rounded px-2">Day by day</span>
                  <h3 class="text-3xl font-bold mt-3 mb-1 text-blueGray-700">If we are down, the sky's the limit</h3>
                  <p class="mt-2 mb-4 text-xl leading-relaxed text-blueGray-500">I light a cigarette, like any other day. A lot of people wonder if we don't smoke, you know? To many that want to get our attention, that want to offer their unwanted advice.</p>
               </div>
            </div>
            <div class="items-center flex flex-wrap -mx-4">
               <div class="px-4 relative w-full lg:w-6/12">
                  <div class="bg-white text-blueGray-800 rounded-lg text-left p-6 flex items-start">
                     <div class="bg-purple-500 text-white shadow-lg rounded-full justify-center items-center inline-flex text-center p-2 text-xl w-12 h-12"><i class="fab fa-html5"></i></div>
                     <div class="ml-6 flex-1">
                        <h6 class="text-purple-500 text-xl font-bold mt-3 mb-0">For Developers</h6>
                        <p class="text-blueGray-500 mt-2 mb-4 leading-relaxed">The time is now for it to be okay to be great. People in this world shun people for being great. For being a bright color. For standing out. But the time is now.</p>
                        <a href="javascript:;" class="text-purple-500">Learn more</a>
                     </div>
                  </div>
                  <div class="bg-purple-500 text-white rounded-lg text-left p-6 flex items-start">
                     <div class="text-purple-500 bg-white shadow-lg rounded-full justify-center items-center inline-flex text-center p-2 text-xl w-12 h-12"><i class="fas fa-cubes"></i></div>
                     <div class="ml-6 flex-1">
                        <h6 class="text-white text-xl font-bold mt-3 mb-0">For Designers</h6>
                        <p class="text-white opacity-75 mt-2 mb-4 leading-relaxed">There’s nothing I really wanted to do in life that I wasn’t able to get good at. That’s my skill. I’m not really specifically talented at anything except for the ability to learn.</p>
                        <a href="javascript:;" class="text-white">Learn more</a>
                     </div>
                  </div>
                  <div class="bg-white text-blueGray-800 rounded-lg text-left p-6 flex items-start">
                     <div class="bg-purple-500 text-white shadow-lg rounded-full justify-center items-center inline-flex text-center p-2 text-xl w-12 h-12"><i class="fas fa-bell"></i></div>
                     <div class="ml-6 flex-1">
                        <h6 class="text-purple-500 text-xl font-bold mt-3 mb-0">For Beginners</h6>
                        <p class="text-blueGray-500 mt-2 mb-4 leading-relaxed">That’s what I do. That’s what I’m here for. Don’t be afraid to be wrong because you can’t learn anything from a compliment. If everything I did failed - which it doesn't.</p>
                        <a href="javascript:;" class="text-purple-500">Learn more</a>
                     </div>
                  </div>
               </div>
               <div class="md:mx-auto px-4 relative w-full lg:w-6/12 w-10/12"><img alt="..." src="../images/illustration.png" class="lg:ml-12 w-full h-auto"></div>
            </div>
         </div>
      </div>
   </div>
</body>
</html>
