<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <link href="../images/favicon.ico" rel="shortcut icon">
  <link href="../sass/home.scss" rel="stylesheet">
  <script src="../js/main.js" defer="defer"></script>
</head>
<body class="background bg-sky-50 flex justify-center">
  <div class="w-full">
    <p class="ms-4 mt-2 mb-4 text-xl leading-relaxed text-white"><a href="about.html">-> About page</a></p>
    <div class="relative my-12 bg-blueGray-800 text-center py-20">
      <div class="container mx-auto px-4">
        <div class="flex flex-wrap -mx-4 justify-center">
          <div class="px-4 relative w-full text-center">
            <span class="text-purple-500 bg-purple-200 text-xs font-bold inline-block py-1 uppercase uppercase last:mr-0 mr-1 leading-tight rounded px-2">Places to see</span>
            <h2 class="text-4xl font-bold mt-3 mb-1 text-white">Build Tailwind CSS with Webpack</h2>
            <p class="mt-2 mb-4 text-xl leading-relaxed text-white">You've successfully loaded the Tailwind CSS + Webpack example! It's loaded up with <a href="https://tailwindcss.com/">Tailwind CSS</a> and uses <a class="underline" href="https://github.com/webdiscus/html-bundler-webpack-plugin">HTML Builder Plugin</a> for Webpack to compile and bundle our Sass, JavaScript and images. It also includes Autoprefixer.</p>
          </div>
        </div>
        <div class="mt-12 flex flex-wrap -mx-4">
          <div class="p-4 relative w-full lg:w-6/12">
            <div class="bg-white text-blueGray-800 rounded-lg text-left p-6 flex items-start">
              <div class="bg-lightBlue-500 text-white shadow-lg rounded-full justify-center items-center inline-flex text-center p-2 text-xl w-12 h-12"><i class="fas fa-hat-wizard"></i></div>
              <div class="ml-6 flex-1">
                <h6 class="text-lightBlue-500 text-xl font-bold mt-3 mb-0">Modular Components</h6>
                <p class="text-blueGray-500 mt-2 mb-4 leading-relaxed">The Arctic Ocean freezes every winter and much of the sea-ice then thaws every summer, and that process will continue whatever and whatever.</p>
                <a href="javascript:;" class="text-lightBlue-500">Learn more</a>
              </div>
            </div>
          </div>
          <div class="p-4 relative w-full lg:w-6/12">
            <div class="bg-white text-blueGray-800 rounded-lg text-left p-6 flex items-start">
              <div class="bg-orange-500 text-white shadow-lg rounded-full justify-center items-center inline-flex text-center p-2 text-xl w-12 h-12"><i class="fas fa-dungeon"></i></div>
              <div class="ml-6 flex-1">
                <h6 class="text-orange-500 text-xl font-bold mt-3 mb-0">Modern Interface</h6>
                <p class="text-blueGray-500 mt-2 mb-4 leading-relaxed">If everything I did failed - which it most definitely does not, it quite actually succeeds - just the fact that I'm willing to fail is an inspiration.</p>
                <a href="javascript:;" class="text-orange-500">Learn more</a>
              </div>
            </div>
          </div>
          <div class="p-4 relative w-full lg:w-6/12">
            <div class="bg-white text-blueGray-800 rounded-lg text-left p-6 flex items-start">
              <div class="bg-red-500 text-white shadow-lg rounded-full justify-center items-center inline-flex text-center p-2 text-xl w-12 h-12"><i class="fas fa-trophy"></i></div>
              <div class="ml-6 flex-1">
                <h6 class="text-red-500 text-xl font-bold mt-3 mb-0">Great Features</h6>
                <p class="text-blueGray-500 mt-2 mb-4 leading-relaxed">People are so scared to lose that they don't even try. Like, one thing people can't say is that I'm not trying, and I'm not trying my hardest.</p>
                <a href="javascript:;" class="text-red-500">Learn more</a>
              </div>
            </div>
          </div>
          <div class="p-4 relative w-full lg:w-6/12">
            <div class="bg-white text-blueGray-800 rounded-lg text-left p-6 flex items-start">
              <div class="bg-emerald-500 text-white shadow-lg rounded-full justify-center items-center inline-flex text-center p-2 text-xl w-12 h-12"><i class="far fa-image"></i></div>
              <div class="ml-6 flex-1">
                <h6 class="text-emerald-500 text-xl font-bold mt-3 mb-0">Awesome Support</h6>
                <p class="text-blueGray-500 mt-2 mb-4 leading-relaxed">The time is now for it to be okay to be great. People in this world shun people for being great. For being a bright color. For beeing honest.</p>
                <a href="javascript:;" class="text-emerald-500">Learn more</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
