//- filter with block syntax
pre: code.language-html
  :escape
    <!-- HTML -->
    <div class="content">
      <p>&copy; M&M'S</p>
    </div>

//- inline syntax
p
  :escape The <strong> element has the closing </strong> tag.

p.
  The #[:escape <html>] element is the root element.<br>
  Inside the #[:escape <html>] element there is a #[:escape <body>] element.