[class*='i-bg-'] {
  display: inline-block;
  width: 128px;
  height: 128px;
  margin-right: 0.5rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  content: '';
  line-height: 0;
}

.i-bg-whatsapp {
  /* expected: filename */
  background-image: url('@images/icons/whatsapp.svg?from-css');
}

.i-bg-whatsapp-force-inline {
  /* expected: force inline, result of generator.dataUrl() */
  background-image: url('@images/icons/whatsapp.svg?from-css&inline');
}

.i-bg-whatsapp-force-embed {
  /* expected: filename */
  background-image: url('@images/icons/whatsapp.svg?from-css&dummy&embed');
}

.i-bg-code-slash {
  /* expected: data URL, result of generator.dataUrl() */
  background-image: url('@images/icons/code.svg?from-css');
}

.i-bg-code-slash-force-inline {
  /* expected: force inline, result of generator.dataUrl() */
  background-image: url('@images/icons/code.svg?from-css&inline');
}

.i-bg-code-slash-force-inline-escaped {
  /* expected: force inline as escaped data URL (result of generator.dataUrl()) */
  background-image: url('@images/icons/code.svg?from-css&inline=escape');
}

.i-bg-code-slash-force-inline-base64 {
  /* expected: force inline as base64-encoded data URL */
  background-image: url('@images/icons/code.svg?from-css&inline=base64');
}

.i-bg-code-slash-force-embed {
  /* expected: data URL, result of generator.dataUrl() (ignore `embed` query in JS and CSS) */
  background-image: url('@images/icons/code.svg?from-css&dummy&embed');
}
