.app1 {
  color: orangered;
  background-image: url(img/fig.c6809878.png);
  width: 160px;
  height: 130px;
}
.app2 {
  color: cornflowerblue;
  background-image: url(img/plum.d39e7174.png);
  width: 160px;
  height: 130px;
}
