<!DOCTYPE html>
<html>
  <head>
    <title>Test</title>
    <link href="../assets/styles/style.scss" rel="stylesheet" />
    <link href="../assets/styles/style2.scss" rel="stylesheet" />
  </head>
  <body>
    <h1>Home</h1>

    <!-- test same inline assets used in both HTML and CSS -->

    <!-- data-URL -->
    <img src="@images/icons/iphone.png" class="inline">

    <!-- inline SVG, tag `<img>` must be replaced with inline `<svg>...</svg>` -->
    <img src="@images/icons/iphone.svg?embed" class="inline">

    <!-- SVG with comment -->
    <img src="@images/icons/iphone-comment.svg?embed" class="inline">
  </body>
</html>