h1 Hello World!

//- Note: in compile mode the interpolation of a file name is impossible (works only in render mode)
  - var image = '../image.webp';
  img(src=require(image))

//- Note: in compile mode the interpolation works only with filename w/o a path
//- TODO: if used interpolation in compile mode, then compiled JS contains css-loader result too, remove it
  - var image = 'image.webp';
  img(src=require('../' + image))

img(src=require('../image.webp'))
