//- test the resolving of the 'exports' filed in package.json of the `ansis` module
- const ansis = require('ansis');
- const { inverse } = require('ansis');

//-h1 #{ansis.green(`Hello ${ansis.inverse('ANSI')} World!`)}
h1 #{ansis.green`Hello ${inverse`ANSI`} World!`}