// Note:
// if CSS file is imported with a filename, excluding the `.css` extension,
// then this file will be injected into the compiled CSS
@import '@test-fixtures/scss/dist/fixture-styles';

// Note:
// if CSS file is imported with a filename, including the `.css` extension,
// then this file will be loaded as a separate file from the CSS output directory
//@import '@test-fixtures/scss/dist/fixture-styles.css';

.apple {
  width: 160px;
  height: 130px;
  background-image: url('@images/apple.png');
}

.image-bg,
.apple {
  border: 5px solid orangered;
}
