doctype html
html
  head
    title Readme
    link(href='@images/favicon.ico' rel='shortcut icon' type='image/x-icon')
    link(href='@styles/style.scss' rel='stylesheet' )
  body
    .markdown-body: include:markdown README_FILE
