.inline-iphone-svg {
  width: 24px;
  height: 24px;
  background: url('@images/icons/iphone.svg');
  border: 5px solid darkorange;
}

.inline-imac-png {
  width: 24px;
  height: 24px;
  background: url('@images/icons/imac.png');
  border: 5px solid darkorange;
}
