.bg-icon {
  width: 24px;
  height: 24px;
}

.svg-data-url {
  /* url must be as `data:image/svg+xml;<svg ...` */
  background: url('@images/icons/iphone.svg?inline');
}

.png-data-url {
  /* url must be as `data:image/png;base64,iVBO...` */
  background: url('@images/icons/iphone.png?inline');
}

.svg-file {
  background: url('@images/icons/iphone.svg');
}

.png-file {
  background: url('@images/icons/iphone.png');
}
