doctype html
html
  head
    title= title

    block style
      link(rel='stylesheet' href=require('@styles/main.css'))

    script(src=require('@scripts/main'))
  body
    h4 Default layout
    block content
    block script
