<!DOCTYPE html>
<html>
  <head>
    <title>Test</title>
    <!-- inline CSS here -->
    <link href="../styles/style.scss" rel="stylesheet" />
    <!-- inline JS here -->
    <script src="../scripts/main.js" defer="defer"></script>
  </head>
  <body>
    <h1>Inline all assets into HTML</h1>

    <!-- test: inline all assets used in both HTML and CSS -->

    <!-- test: inlined font -->
    <div class="dummy-font">Inlined font</div>

    <!-- test: inlined component assets -->
    <div class="component-a">Component A</div>

    <!-- inline PNG, src contains data-URL -->
    <img src="@images/icons/iphone.png">

    <!-- inline SVG, tag `<img>` will be replaced with inline `<svg>...</svg>` -->
    <img src="@images/icons/iphone.svg">

    <!-- inline SVG in CSS -->
    <div class="bg-image-svg"></div>

    <!-- inline image in CSS -->
    <div class="bg-image-png"></div>

    <!-- inline JS here -->
    <script src="../components/a/a.js"></script>
  </body>
</html>