<!DOCTYPE html>
<html>
<head>
  <title>Home</title>

  <!-- file CSS -->
  <link href="@styles/style-inline-false.css?inline=false" rel="stylesheet" />

  <!-- inline CSS: ?inline -->
  <link href="@styles/style-inline.css" rel="stylesheet" />

  <!-- inline CSS imported in JS: css.inline option is true -->
  <script src="app.js"></script>
  <script src="home.js"></script>
</head>
<body>
  <h1>Home</h1>

  <!-- CSS specified in HTML -->
  <div class="inline-false">style-inline-false.css?inline=false</div>
  <div class="inline">style-inline.css</div>

  <!-- CSS imported in JS -->
  <div class="app-inline-1">imported css .app-inline-1</div>
  <div class="app-inline-2">imported css .app-inline-2</div>
  <div class="home-inline-1">imported css .home-inline-1</div>
  <div class="home-inline-2">imported css .home-inline-2</div>
</body>
</html>