html
  head
    title Test
    //- load script and style as file
    link(href=require('@styles/main.css') rel='stylesheet')
    script(src=require('@scripts/main.js') defer='defer')

    //- inline scripts
    script(src='@scripts/main-inline-1.js?inline')
    script(src=require('@scripts/main-inline-2.js?inline'))

    //- inline styles
    link(rel='stylesheet' href='@styles/main-inline-1.css?inline')
    link(rel='stylesheet' href=require('@styles/main-inline-2.css?inline'))
  body
    h1 Hello World!
    .inline-1 Inlined CSS
    .inline-2 Inlined CSS
