@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url('Fonts/MaterialIcons/MaterialIcons-Regular.woff2') format('woff2');
}

// module export
$font-family: 'Material Icons';