<!DOCTYPE html>
<html>
  <head>
    <!-- resize image -->
    <link href="@images/favicons/favicon.png?size=16" rel="icon">
  </head>
  <body>
    <h1>Home</h1>

    <!-- default image -->
    <img src="@images/apple.png">

    <!-- using the query as JSON -->
    <img src="@images/apple.png?{size:105, format:'webp'}">

    <!-- responsible image -->
    <img
      src="@images/apple.png?size=120"
      srcset="@images/apple.png?{sizes: [50,100,150], format: 'jpg'}"
    >

    <!-- image placeholder and properties -->
    <!-- note: GitHub generate other inline data for placeholder -->
    <!-- @images/apple.png?prop=placeholder&placeholder=true&placeholderSize=4 -->
    <img
      src="@images/apple.png?size=20"
      data-src="@images/apple.png"
      width="@images/apple.png?prop=width"
      height="@images/apple.png?prop=height"
      class="lazy-image"
    >
  </body>
</html>