<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <!-- resolve 'style' field in package.json of the style module
       resolves compiled CSS file from node_module -->
  <link href="@test-fixtures/scss" rel="stylesheet">

  <!-- resolve the style module containing in the name the '.css' suffix,
       resolves compiled CSS file from node_module -->
  <link href="normalize.css" rel="stylesheet">

  <!-- load scss from local directory -->
  <link href="./style.scss" rel="stylesheet">
</head>
<body>
  <h1>Hello World!</h1>
  <p class="test-fixture-secondary">Text</p>
  <div class="image-bg"></div>
</body>
</html>