@font-face {
  font-family: 'Dummy';
  src: url('@fonts/dummy.woff2') format('woff2');
  font-style: normal;
}

h1 {
  color: forestgreen;
}

img,
svg {
  max-height: 140px;
  max-width: 200px;
}

.dummy-font {
  font-family: 'Dummy', monospace;
  font-size: 24px;
  //color: mediumvioletred;
  color: slateblue;
}

.bg-image-svg {
  display: inline-block;
  width: 96px;
  height: 96px;
  // inline svg in CSS as `data:image/svg+xml;utf8,<svg ...`
  background: url('@images/github-icon.svg');
  background-size: cover;
}

.bg-image-png {
  display: inline-block;
  width: 96px;
  height: 96px;
  // inline image in CSS as `data:image/png;base64,iVBO...`
  background: url('@images/github-icon.png');
  background-size: cover;
}
