h1 Hello World!

//-
p.context-js: include:code /src/scripts/main.js
p.file-js: include:code script.js
p.file-pug-with-ext: include:code demo.pug
p.file-pug-wo-ext: include:code demo

p.alias-context: include:code ALIAS_CONTEXT_DIR/text.txt
p.alias-context-file-txt: include:code ALIAS_CONTEXT_FILE

p.alias-external-file-txt: include:code ALIAS_EXTERNAL_FILE

p.prefix0-alias-file-txt: include:code ALIAS_FILE
p.prefix1-alias-file-txt: include:code ~ALIAS_FILE

p.prefix0-alias-file-js: include:code ALIAS_SCRIPT_MAIN
p.prefix1-alias-file-js: include:code ~ALIAS_SCRIPT_MAIN
p.prefix2-alias-file-js: include:code @ALIAS_SCRIPT_MAIN

script(src=require('ALIAS_SCRIPT_MAIN'))
script(src=require('~ALIAS_SCRIPT_VENDOR'))
