.header {
  height: 100px;
  background-color: gray;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url('@images/apple.png?size=100');
}
