<!doctype html>
<html>
  <head>
    <!-- resize image -->
    <link href="@images/favicons/favicon.png?w=16" sizes="16x16" type="image/png" rel="icon" />
    <link href="@styles/main.scss" rel="stylesheet" />
    <script src="@scripts/main.js" defer="defer"></script>
  </head>
  <body>
    <h1>Using ImageMinimizerPlugin</h1>

    <!-- default image -->
    <p>Original image size in HTML</p>
    <img src="@images/responsive/hardware.webp" />

    <!-- resized image -->
    <p>Resized image in HTML</p>
    <img src="@images/responsive/hardware.webp?w=150" />

    <!-- placeholder via CSS -->
    <p>Resized background image in CSS</p>
    <div class="header-container placeholder-css"></div>

    <!-- resized image in CSS -->
    <p>Resized background image in CSS</p>
    <div class="resized-image"></div>

    <!-- image src will be set in JS -->
    <p>Set image URL in JavaScript</p>
    <img id="js-image" />
  </body>
</html>
