<html>
  <head>
    <title>Test</title>
    <link href="../assets/styles/style.scss" rel="stylesheet" />
  </head>
  <body>
    <h1>Home</h1>

    <!-- size < 2K, data-URL -->
    <img src="~Images/icons/iphone.png" alt="inline">

    <!-- size < 2K, inline SVG -->
    <img src="~Images/icons/imac.svg" alt="inline">

    <!-- size > 2K, file -->
    <img src="~Images/bild.jpg" alt="file">
    <img src="~Images/bild.png" alt="file">
    <img src="~Images/bild.svg" alt="file">

    <div class="data-url-svg"></div>
    <div class="data-url-png"></div>
    <div class="file-svg"></div>
    <div class="file-png"></div>
  </body>
</html>