@use 'home';
@use 'style1';
@use 'style2';
@use 'style3';

@supports not (display: grid) {
  div {
    float: right;
  }
}

@supports (display: flex) {
  @media screen and (min-width: 900px) {
    article {
      display: flex;
    }
  }
}

@layer base, special;

@layer special {
  .item {
    color: rebeccapurple;
  }
}

@layer base {
  .item {
    color: green;
  }
}
