<html>
  <head>
    <title>{{title}}</title>
  </head>
  <body>
    {{#block 'header'}}{{/block}}

    <nav class='navbar'>LAYOUT navbar</nav>

    {{#block 'content'}}{{/block}}

    <div>{{#block 'icon_check'}}{{/block}}one</div>
    <div>{{#block 'icon_check'}}{{/block}}two</div>
    <div>{{#block 'default_block'}}LAYOUT default block content{{/block}}</div>

    <footer class='footer'>LAYOUT footer</footer>
  </body>
</html>
