h1 {
  color: coral;
  font-size: 20px;
}

.style__red--gvFM4 {
  border: 5px solid red;
  color: indianred;
}

.style__lime-green--joDXV {
  border: 5px solid limegreen;
  color: limegreen;
}

.style__royal_blue--ATLkt {
  border: 5px solid royalblue;
  color: royalblue;
}
