$color: green;

h1 {
  color: $color;
}

.chery {
  width: 120px;
  height: 98px;
  border: 2px solid darkred;
  // test preload image with query
  background-image: url('@images/chery.png?size=120');
}
