$color: green;

h1 {
  color: $color;
}

.pear {
  width: 120px;
  height: 98px;
  border: 2px solid darkred;
  // test preload image with query
  background-image: url('@images/pear.png?size=120');
}
