/* Comment with `back-tick` quotes */

h1 {
  color: violet;
  text-align: center;
  border: 2px solid coral;
}

/*
 Test ERROR: Module parse failed: Bad escape sequence in untagged template literal.
 The problem is with Tailwind-like style names: `.\32xl\:w-96`.
 */
.\32xl\:w-96 {
  width: 10rem;
}

.lg\:ml-4 {
  margin-left: 1rem;
}
