html
  head
    title Test
  body
    h1 Hello World!
    img(src=require('@images/apple.png'))
    img&attributes({
      class: 'image',
      src: require('@images/fig.png'),
      //- TODO: BREAKING CHANGE - the syntax with require not works
      //-srcset: `${require('@images/pear.png')} 300w, ${require('@images/plum.png')} 600w`,
      srcset: `@images/pear.png 300w, @images/plum.png 600w`,
      alt: 'picture',
    })
