<!DOCTYPE html>
<html>
  <head>
    <!-- resize image -->
    <link href="@images/favicons/favicon.png?size=16" sizes="16x16" type="image/png" rel="icon">
    <link href="@styles/main.scss" rel="stylesheet">
    <script src="@scripts/main.js" defer="defer"></script>
  </head>
  <body>
    <h1>Home</h1>

    <!-- image src will be set in JS from imported responsive image -->
    <img id="js-image">

    <!-- default image -->
    <img src="@images/apple.png">

    <!-- resized image -->
    <img src="@images/apple.png?size=50">

    <!-- placeholder via CSS -->
    <div class="header-container placeholder-css"></div>

    <!-- resized image in CSS -->
    <div class="resized-image"></div>
  </body>
</html>