h1 {
  color: mediumpurple;
}

.icon-iphone {
  display: inline-block;
  width: 132px;
  height: 132px;
  border: 5px solid limegreen;
  background: url('../images/icons/iphone.svg');
  background-size: cover;
}

// test resolve the same asset in template and in style, but with different raw request. e.g.
// - in template with alias: `@images/image.webp`
// - in style relative: `../images/image.webp`
.image {
  width: 160px;
  height: 130px;
  border: 5px solid orangered;
  background: url('../images/image.webp');
}
