.apple {
  width: 160px;
  height: 130px;
  border: 5px solid teal;
  color: teal;
  font-size: 20px;
}

.img {
  width: 160px;
  height: 130px;
  border: 5px solid orangered;
  color: orangered;
  font-size: 20px;
}
