<!DOCTYPE html>
<html>
<head>
  <title>About</title>
  <script src="../scripts/main.js" defer="defer"></script>
  <script src="../scripts/about.js" defer="defer"></script>
</head>
<body>
<h1>About</h1>
{{> header }}
<p>About content</p>
{{> footer }}
</body>
</html>
