<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <script src="../scripts/main.js" defer="defer"></script>
  <script src="../scripts/home.js" defer="defer"></script>
</head>
<body>
  <h1>Home</h1>
  {{> header }}
  <p>Home content</p>
  {{> footer }}
</body>
</html>
