.svg-data-url {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgd2lkdGg9IjI0Ij48cGF0aCBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+PHBhdGggZD0iTTE1LjUgMWgtOEM2LjEyIDEgNSAyLjEyIDUgMy41djE3QzUgMjEuODggNi4xMiAyMyA3LjUgMjNoOGMxLjM4IDAgMi41LTEuMTIgMi41LTIuNXYtMTdDMTggMi4xMiAxNi44OCAxIDE1LjUgMXptLTQgMjFjLS44MyAwLTEuNS0uNjctMS41LTEuNXMuNjctMS41IDEuNS0xLjUgMS41LjY3IDEuNSAxLjUtLjY3IDEuNS0xLjUgMS41em00LjUtNEg3VjRoOXYxNHoiLz48L3N2Zz4=);
}

.png-data-url {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAAUklEQVQ4y2NgoADIMexh+MnwHwX+BIrJ4dKwG00xDO7GpeEHDg0/cGkASRIrOqphVMPAa8AOCWqoZOABYoIaEBmIF8jjJZyBduOwYTfVCgGiAABs3JKsxAraGAAAAABJRU5ErkJggg==);
}

.png-data-url2 {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAAUklEQVQ4y2NgoADIMexh+MnwHwX+BIrJ4dKwG00xDO7GpeEHDg0/cGkASRIrOqphVMPAa8AOCWqoZOABYoIaEBmIF8jjJZyBduOwYTfVCgGiAABs3JKsxAraGAAAAABJRU5ErkJggg==);
}

.svg-data-url-alias {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgd2lkdGg9IjI0Ij48cGF0aCBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+PHBhdGggZD0iTTIxIDJIM2MtMS4xIDAtMiAuOS0yIDJ2MTJjMCAxLjEuOSAyIDIgMmg3bC0yIDN2MWg4di0xbC0yLTNoN2MxLjEgMCAyLS45IDItMlY0YzAtMS4xLS45LTItMi0yem0wIDEySDNWNGgxOHYxMHoiLz48L3N2Zz4=);
}

.png-data-url-alias {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAAUklEQVQ4y2NgoAfwYHjM8J8I+BioEgweEaUcBB9BNICYxAC4ulENQ1gDsZA8DSQnPpKTNzoIhSsJJSYsRBlewjW8BPIIglUozlhFXGhjhAs9AQA4EcF5JY1OLgAAAABJRU5ErkJggg==);
}