html
  head
    link(href=require('Styles/file1.scss') rel='stylesheet')

    //- WARNING: duplicate styles
    link(href=require('Styles/file2.scss') rel='stylesheet')
    link(href=require('../assets/styles/file2.scss') rel='stylesheet')
  body
    h1 Hello Pug!