h1 {
  color: green;
}

.inline-false {
  color: steelblue;
}

/* test resolve same image in other issuer with different path */
.inline-false-img {
  border: 2px solid steelblue;
  width: 160px;
  height: 130px;
  background-image: url(../img/apple.02a7c382.png);
}