<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <link href="../includes/teaser.css" rel="stylesheet">
  <link href="../partials/card/card.css" rel="stylesheet">
</head>
<body>
  <!-- test include w/o extension -->
  {{include 'teaser' }}
  <!-- test bugfix: load the partials with allowed extensions only, ignore card.css -->
  {{> card/card }}
</body>
</html>
