.icon-imac {
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('@images/icons/imac.svg');
}

.icon-imac-inline {
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('@images/icons/imac.svg?inline');
}
