<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <script src="@scripts/app.js" defer="defer"></script>
</head>
<body>
<div id="content">replace me in runtime</div>
<div id="footer">
    {% block footer %}footer{% endblock %}
</div>
</body>
</html>
