@use '../abstracts/variables' as var;

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #f2f5f7;
}

.center-x {
  text-align: center;
}

// Flex layout

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: stretch;

  > :not(:first-child) {
    margin-left: var.$gap-md;
  }

  &.center-x {
    align-items: center;
  }

  &.center-y {
    justify-content: center;
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: stretch;

  > :not(:first-child) {
    margin-left: var.$gap-md;
  }

  &.center-x {
    justify-content: center;
  }

  &.center-y {
    align-items: center;
  }
}

.fit-max {
  > :first-child {
    flex-basis: content;
  }

  > :not(:first-child) {
    flex-grow: 1;
  }
}
