/* inlined style */

.header-bg {
  width: 160px;
  height: 130px;
  border: 3px solid plum;
  background-image: url('../images/pear.png');
}

.iphone {
  width: 24px;
  height: 24px;
  border: 5px solid limegreen;
  background-image: url('../images/iphone.png');
}

.imac {
  width: 24px;
  height: 24px;
  border: 5px solid royalblue;
  background-image: url('../images/imac.svg');
}

/* the image is used exclusive only here */
.plum {
  width: 160px;
  height: 130px;
  border: 5px solid #4e32cd;
  background-image: url('../images/plum.png');
}
