.inline-stern-svg {
  width: 48px;
  height: 48px;
  background: url('@images/stern.svg');
  border: 5px solid orchid;
}

.inline-apple-png {
  width: 160px;
  height: 130px;
  background: url('@images/apple.png');
  border: 5px solid orchid;
}
