* {
  line-height: 1.2;
  margin: 0;
}

html {
  display: table;
  text-align: center;
  height: 100%;
  width: 100%;
}

body {
  display: table-cell;
  vertical-align: middle;
  margin: 2em auto;
  font-family: sans-serif;
  color: #888;
}

h1 {
  font-size: 4em;
  font-weight: 800;
  color: #000;
}

h2 {
  font-size: 2em;
  font-weight: 400;
  color: #555;
  margin-bottom: 10px;
}

p {
  margin: 0 auto;
}

@media only screen and (max-width: 320px) {
  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 1.5em;
  }
}
