<!DOCTYPE html>
<html>
<head>
  <title>Home</title>

  <!-- normal style file -->
  <link href="@styles/style.css" rel="stylesheet" />

  <!-- DON'T change the order! Test the order of root issuers. -->
  <script src="common.js"></script>
  <script src="main-a.js"></script>
  <script src="main-b.js"></script>
</head>
<body>
  <h1>Home</h1>

  <!-- CSS imported in JS -->
  <div class="main-a1">main-a1</div>
  <div class="main-a2">main-a2</div>
  <div class="main-b1">main-b1</div>
  <div class="main-b2">main-b2</div>
</body>
</html>