mixin menuItem(page)
  .nav
    a(class=(page === 'index') ? 'active' : '' href='./', title='index') home
    span &nbsp;|&nbsp;
    a(class=(page === 'about') ? 'active' : '' href='./about.html', title='about me') about
