<html>
  <head>
    <title>Home</title>
    <!-- force inline preloaded styles -->
    <link href="Styles/preload.css?inline" as="style" rel="preload" />
    <!-- test invalid value as="stylesheet" -->
    <link href="Styles/preload2.css?inline" as="stylesheet" rel="preload" />

    <!-- load CSS as file -->
    <link href="Styles/main.css" rel="stylesheet" />
    <!-- inline CSS -->
    <link href="Styles/inline-style.css?inline" rel="stylesheet" />
  </head>
  <body>
    <h1>Home</h1>
    <div class="img-file-style"></div>
    <div class="img-inline-style"></div>
    <div class="img-data-url"></div>
    <div class="img-data-url2"></div>
  </body>
</html>