/*! home */
h1 {
  color: coral;
}

.home-bg {
  width: 160px;
  height: 130px;
  border: 2px solid coral;
  background-image: url('@images/kiwi.png');
}

.home-bg-inlined {
  width: 24px;
  height: 24px;
  border: 5px solid rebeccapurple;
  background-image: url('@images/icons/iphone.png');
}
