{{#partial 'header'}}
  <h1>HOME header</h1>
{{/partial}}

{{#partial 'content'}}
  {{> home/content}}
{{/partial}}

{{#partial 'icon_check'}}<span class="icon-check">✅</span>{{/partial}}

{{> layout}}
