$font-family: Helvetica, sans-serif !default;
$font-size: 16px !default;

body {
  font-family: $font-family;
  font-size: $font-size;
}

// Headings

$_head-font-weight: 600;
$_gap-top: 24px;
$_gap-bottom: 16px;

h1, h2, h3, h4, h5, h6 {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;

  // Prevent code inside headings from being capitalized.
  code {
    text-transform: initial;
  }
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
.s1, .s2, .s3, .s4, .s5, .s6 {
  margin-top: $_gap-top;
  margin-bottom: $_gap-bottom;
}

// Headlines

h1, .h1 {
  font-weight: $_head-font-weight;
  font-size: 32px;
  line-height: 40px;
}

h2, .h2 {
  font-weight: $_head-font-weight;
  font-size: 24px;
  line-height: 30px;
}

h3, .h3 {
  font-weight: $_head-font-weight;
  font-size: 20px;
  line-height: 25px;
}

h4, .h4 {
  font-weight: $_head-font-weight;
  font-size: 16px;
  line-height: 20px;
}

h5, .h5 {
  font-weight: $_head-font-weight;
  font-size: 14px;
  line-height: 18px;
}

h6, .h6 {
  font-weight: $_head-font-weight;
  font-size: 13.7px;
  line-height: 18px;
  color: #6a737d;
}

// Sublines
$_subline-font-weight: normal;
.s1 {
  font-weight: $_subline-font-weight;
  font-size: 32px;
  line-height: 40px;
}

.s2 {
  font-weight: $_subline-font-weight;
  font-size: 24px;
  line-height: 30px;
}

.s3 {
  font-weight: $_subline-font-weight;
  font-size: 20px;
  line-height: 25px;
}

.s4 {
  font-weight: $_subline-font-weight;
  font-size: 16px;
  line-height: 20px;
}

.s5 {
  font-weight: $_subline-font-weight;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.025em;
}

.s6 {
  font-weight: $_subline-font-weight;
  color: #6a737d;
  font-size: 13.7px;
  line-height: 18px;
  letter-spacing: 0.025em;
}

// Text

b, .b,
strong,
.strong {
  font-weight: bold;
}

.i {
  font-style: italic;
}

// Paragraph

// large
.p-lg {
  margin: 10px 0;
  font-size: 20px;
  line-height: 24px;
}

// medium
.p-md {
  margin: 10px 0;
  font-size: 18px;
  line-height: 22px;
}

// default
p, .p {
  margin: 10px 0;
  font-size: 16px;
  line-height: 20px;
}

// small
.p-sm {
  margin: 10px 0;
  font-size: 14px;
  line-height: 18px;
}

// extra small
.p-xs {
  margin: 10px 0;
  font-size: 12px;
  line-height: 16px;
}

// Inline code
code {
  padding: 2px 4px;
  background-color: hsl(210, 8%, 90%);
  white-space: pre-wrap;
  border-radius: 3px;
}

// Reset code in block <pre>
pre code {
  padding: 0;
  background: none;
}

// Misc

a {
  color: #737373;
  text-decoration: none;

  &.underline {
    text-decoration: underline;
  }

  &.link {
    color: #1993ff;
  }

  &:hover {
    text-decoration: underline;
  }
}

.teaser {
  color: #737373;
  text-align: center;
  font-size: 18px;
}

.copyleft {
  &:before {
    content: '\00a9';
    font-size: 114%;
  }

  display: inline-block;
  transform: scaleX(-1);
}
