<html>
  <head>
    <!-- resize image -->
    <link href="Images/favicon.png?size=32" sizes="32x32" type="image/png" rel="icon">
    <link href="Styles/main.scss" rel="stylesheet">
    <script src="Scripts/main.js"></script>
  </head>
  <body>
    <h1>Home</h1>

    <!-- default image -->
    <img src="Images/image.png">

    <!-- resized image -->
    <img src="Images/image.png?size=50">

    <!-- placeholder via CSS -->
    <div class="header-container placeholder-css"></div>

    <!-- resized image in CSS -->
    <div class="resized-image"></div>
  </body>
</html>