body {
  font-family: sans-serif;
}

h1 {
  color: red;
}

.lemon {
  width: 160px;
  height: 130px;
  border: 3px solid seagreen;
  background-image: url(../../assets/img/lemon-160w.png);
  background-repeat: no-repeat;
}
