<!DOCTYPE html>
<html>
  <head>
    <title>Test</title>
    <!-- preload scripts as file -->
    <link href="@scripts/prefetch.js" rel="prefetch" as="script" />
    <link href="@scripts/preload.js" rel="preload" as="script" />

    <link href="@scripts/modulepreload.js" rel="modulepreload" />
    <link href="@scripts/modulepreload-script.js" rel="modulepreload" as="script" />
    <link href="@scripts/modulepreload-worker.js" rel="modulepreload" as="worker" />
    <link href="@scripts/modulepreload-serviceworker.js" rel="modulepreload" as="serviceworker" />
    <link href="@scripts/modulepreload-sharedworker.js" rel="modulepreload" as="sharedworker" />

    <!-- load script as file -->
    <script src="@scripts/main.js" defer="defer"></script>
    <!-- inline script -->
    <script src="@scripts/inline-main.js?inline"></script>
  </head>
  <body>
    <h1>Home</h1>
  </body>
</html>