.bg-icon {
  width: 24px;
  height: 24px;
}

.svg-data-url {
  /* url must be as `data:image/svg+xml;<svg ...` */
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgd2lkdGg9IjI0Ij48cGF0aCBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+PHBhdGggZD0iTTE1LjUgMWgtOEM2LjEyIDEgNSAyLjEyIDUgMy41djE3QzUgMjEuODggNi4xMiAyMyA3LjUgMjNoOGMxLjM4IDAgMi41LTEuMTIgMi41LTIuNXYtMTdDMTggMi4xMiAxNi44OCAxIDE1LjUgMXptLTQgMjFjLS44MyAwLTEuNS0uNjctMS41LTEuNXMuNjctMS41IDEuNS0xLjUgMS41LjY3IDEuNSAxLjUtLjY3IDEuNS0xLjUgMS41em00LjUtNEg3VjRoOXYxNHoiLz48L3N2Zz4=);
}

.png-data-url {
  /* url must be as `data:image/png;base64,iVBO...` */
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAAUklEQVQ4y2NgoADIMexh+MnwHwX+BIrJ4dKwG00xDO7GpeEHDg0/cGkASRIrOqphVMPAa8AOCWqoZOABYoIaEBmIF8jjJZyBduOwYTfVCgGiAABs3JKsxAraGAAAAABJRU5ErkJggg==);
}

.svg-file {
  background: url(img/iphone.d00d9619.svg);
}

.png-file {
  background: url(img/iphone.e7d4ced0.png);
}
