{% extends '@partials/layout.twig' %}

{% block content %}
    <ul id="people">
        {% for item in people %}
            <li>{{ item }}</li>
        {% endfor %}
    </ul>
    <img src="@images/apple.png" alt="apple" />
{% endblock %}

{% block footer %}{% include '@partials/footer.twig' %}{% endblock %}
