body {
  font-family: 'OpenSans', sans-serif;
  margin: 0;
}

h1 {
  color: #f0772b;
}

.header {
  padding: 20px 0;
  text-align: center;
  color: #351704;
  background-color: #ffddaa;
}

.footer {
  padding: 10px 0;
  text-align: center;
  color: white;
  background-color: #f0772b;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
