<!DOCTYPE html>
<html>
<head>
  <title>{{ title }}</title>
  <!-- reference to source image -->
  <link href="../../images/favicon.png" rel="shortcut icon" type="image/png">
  <!-- references to source style and script -->
  <link href="../../scss/styles.scss" rel="stylesheet">
  <script src="../../js/main.js" defer="defer"></script>
</head>
<body>
  {{> header }}

  <div class="container">
    <h1>Handlebars</h1>

    <!-- using of the arraySize helper -->
    <div>{{ arraySize persons }} persons:</div>

    <ul class="person">
      {{#each persons}}
        {{> person person=.}}
      {{/each}}
    </ul>
  </div>

  {{> footer }}
</body>
</html>
