<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>

  {{! blocks for page-specific styles and scripts }}
  {{#block 'styles'}}{{/block}}
  {{#block 'scripts'}}{{/block}}
</head>
<body>
  {{> header}}

  {{! if the block is not defined in a parent template, then output default content }}
  {{#block 'content'}}<p>default block content</p>{{/block}}

  {{> footer }}
</body>
</html>
