<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <link href="@images/favicons/favicon.ico" rel="icon">

  <!-- load global style -->
  <link href="@styles/style.scss" rel="stylesheet">

  <!-- load page style -->
  <link href="./home.scss" rel="stylesheet">

  <!-- load global script -->
  <script src="@scripts/main.js" defer="defer"></script>
</head>
<body>
  <h1>Home</h1>
  <img src="@images/apple.png" alt="apple">
  <img src="@images/icons/imac.svg" alt="iMac SVG">

  <!-- load page script -->
  <script src="./home.js"></script>
</body>
</html>