$color: orange;

@font-face {
  font-family: 'OpenSans';
  src:
    url('@fonts/OpenSans/open-sans-regular.woff2') format('woff2');
  font-style: normal;
}


@font-face {
  font-family: 'MaterialIcons';
  src:
    url('@fonts/MaterialIcons/MaterialIcons-Regular.woff2') format('woff2');
  font-style: normal;
}

h1 {
  color: $color;
  font-family: 'OpenSans', sans-serif;
}

.mi {
  font-family: 'MaterialIcons';
  font-size: 64px;
}

.lemon {
  width: 160px;
  height: 130px;
  border: 1px solid $color;
  background-image: url('@images/lemon.png');
}
