[class*='i-bg-'] {
  display: inline-block;
  width: 128px;
  height: 128px;
  margin-right: 0.5rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  content: '';
  line-height: 0;
}

.i-bg-whatsapp {
  background-image: url('@images/icons/whatsapp.svg?from-css'); /* filename */
}

.i-bg-whatsapp-force-inline {
  background-image: url('@images/icons/whatsapp.svg?from-css&inline'); /* force inline as base64-encoded data URL */
}

.i-bg-whatsapp-force-embed {
  background-image: url('@images/icons/whatsapp.svg?from-css&dummy&embed'); /* filename */
}

.i-bg-code-slash {
  background-image: url('@images/icons/code.svg?from-css'); /* data URL, result of generator.dataUrl() */
}

.i-bg-code-slash-force-inline {
  background-image: url('@images/icons/code.svg?from-css&inline'); /* force inline as base64-encoded data URL */
}

.i-bg-code-slash-force-inline-escaped {
  background-image: url('@images/icons/code.svg?from-css&inline=escape'); /* force inline as escaped data URL */
}

.i-bg-code-slash-force-embed {
  background-image: url('@images/icons/code.svg?from-css&dummy&embed'); /* data URL, result of generator.dataUrl() (ignore `embed` query in JS) */
}
