<!DOCTYPE html>
<html>
  <head>
    <link href="@test-fixtures/scss/dist/fixture-styles.css" rel="stylesheet">
    <link href="../../styles/style.css" rel="stylesheet">
    <link href="../../styles/inlined.css?inline" rel="stylesheet">
    <link href="./style.css" rel="stylesheet">
    <script src="./about-split.js" defer="defer"></script>
    <script src="./about-inline-split.js?inline" defer="defer"></script>
  </head>
  <body>
    <h1>About</h1>
    <!-- test inlined style with background image -->
    <div class="header-bg"></div>

    <!-- test asset resource -->
    <img src="@images/fig.png" class="fig PNG file">

    <!-- test responsive srcset -->
    <img src="@images/responsive/hardware.webp?size=300" srcset="@images/responsive/hardware.webp?sizes[]=200&sizes[]=400" alt="printer srcset">

    <div class="plum"></div>
    <div class="about-bg"></div>
    <div class="about-bg-inlined"></div>
    <script src="./about.js"></script>
  </body>
</html>