@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  src: local('OpenSans'),
  local('OpenSans-Regular'),
  url(../fonts/OpenSans/open-sans-regular.22e601e2.svg) format('svg');
}

h1 {
  color: red;
  font-family: OpenSans, serif;
}