.pixels{
  width: 64px;
  height: 64px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAIAAAAlC+aJAAAA3ElEQVR4nOzXoWpCcRxH8d2xsrK2tBsWlvYAY8tLwvUZBIPVKphsFpvN4FOY1aCPYLAJFkGLIAgWn+GbjhfOJ3//4dxfui/v89tTYrpuRfuf4Xe0X71dov1ztH5ABtAMoBlAM4BmAM0AmgG0ov26jB5sq160/6w+ov35Oo72tb+AATQDaAbQDKAZQDOAZgCt2JTd6MHX5D/a72e7aN9YZP8ntb+AATQDaAbQDKAZQDOAZgCtGPUP0YPTbyfaD/6yb1Qem9G+9hcwgGYAzQCaATQDaAbQDKDdAwAA//9FYxjG3UWkEgAAAABJRU5ErkJggg==);
  border: 5px solid orchid;
}
